.header{
    display: flex;
    align-items: center;
    padding: 30px 0px 20px 40px;
    border-bottom: 1px solid var(--secondary-text-color);
}

img{
    height: 25px;
    margin-right: 20px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.wrapper {
    padding: 20px 0px;
    display: flex;
}

.sidebar-container {
    margin: 0px 20px;
    flex: 1 1 20%;
}

.sidebar-container.collapsed {
    display: none;
}

.main-container {
    flex: 1 1 80%;
}

